{% set pureftpd = salt['grains.filter_by']({
    'Debian': {
        'repo': 'https://github.com/jedisct1/pure-ftpd',
        'branch': 'master',
        'rev': 'master',
    },
}, merge=salt['pillar.get']('pureftpd:lookup')) %}
