{% set vim = salt['grains.filter_by']({
    'Debian': {
        'url': 'https://github.com/amix/vimrc.git',
        'user': 'myuser',
        'group': 'mygroup',
    },
}, merge=salt['pillar.get']('vim:lookup')) %}
