{% set czmq = salt['grains.filter_by']({
    'Debian': {
        'repo': 'https://github.com/zeromq/czmq',
        'version': '4.2.1',
        'prefix': '/opt/czmq',
    },
}, merge=salt['pillar.get']('czmq:lookup')) %}
