{% set asr = salt['grains.filter_by']({
    'Debian': {
        'repo': 'https://github.com/OpenSMTPD/libasr',
        'branch': 'master',
        'rev': 'master',
        'prefix': '/opt/asr',
    },
}, merge=salt['pillar.get']('asr:lookup')) %}
