{% set sodium = salt['grains.filter_by']({
    'Debian': {
        'repo': 'https://github.com/jedisct1/libsodium',
        'version': '1.0.22-RELEASE',
        'prefix': '/opt/sodium',
    },
}, merge=salt['pillar.get']('sodium:lookup')) %}
