{% set sodium = salt['grains.filter_by']({
    'Debian': {
        'repo': 'https://github.com/jedisct1/libsodium',
        'branch': 'stable',
        'rev': 'stable',
        'prefix': '/opt/sodium',
    },
}, merge=salt['pillar.get']('sodium:lookup')) %}
