{% set zyre = salt['grains.filter_by']({
    'Debian': {
        'repo': 'https://github.com/zeromq/zyre',
        'version': '2.0.1',
        'prefix': '/opt/zyre',
    },
}, merge=salt['pillar.get']('zyre:lookup')) %}
