{% set fonts = salt['grains.filter_by']({
    'Debian': {
        'version': '3.3.0',
        'font_dir': '/usr/local/share/fonts/truetype/HackNerdFont',
    },
}, merge=salt['pillar.get']('fonts:lookup')) %}
