{% set opensmtpd = salt['grains.filter_by']({
    'Debian': {
        'repo': 'https://github.com/OpenSMTPD/OpenSMTPD',
        'version': '7.9.0p0',
        'prefix': '/opt/opensmtpd',
    },
}, merge=salt['pillar.get']('opensmtpd:lookup')) %}
