{% set opensmtpd = salt['grains.filter_by']({
    'Debian': {
        'iface': 'eth0',
        'repo': 'https://github.com/OpenSMTPD/OpenSMTPD',
        'extras_repo': 'https://github.com/OpenSMTPD/OpenSMTPD-extras',
    },
}, merge=salt['pillar.get']('opensmtpd:lookup')) %}
