{% set nginx = salt['grains.filter_by']({
    'Debian': {
        'conf': '/opt/nginx/conf/nginx.conf',
        'user': 'web',
        'group': 'web',
        'shell': '/usr/sbin/nologin',
        'webroot': '/www',
        'version': '1.11.5',
        'checksum': '3658724f3c6d049cd1d24f02f1acb7f9be250886',
    },
}, merge=salt['pillar.get']('nginx:lookup')) %}
