{% set conky = salt['grains.filter_by']({
    'Debian': {
        'repo': 'https://github.com/brndnmtthws/conky',
        'wired_interface': 'eth0',
        'wireless_interface': 'wlan0',
    },
}, merge=salt['pillar.get']('conky:lookup')) %}
