{% set node = salt['grains.filter_by']({
    'Debian': {
        'repo': 'https://github.com/nodejs/node',
        'branch': 'main',
        'rev': 'main',
    },
}, merge=salt['pillar.get']('node:lookup')) %}
