{% set ffmpeg = salt['grains.filter_by']({
    'Debian': {
        'repo': 'https://github.com/FFmpeg/FFmpeg',
        'branch': 'release/9.0',
        'rev': 'release/9.0',
        'prefix': '/opt/ffmpeg',
    },
}, merge=salt['pillar.get']('ffmpeg:lookup')) %}
